* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f8f8;
  color: #333;
  width: 80%;
  margin: auto;
  max-width: 1200px;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#add-event-row-btn {
  background-color: #008cba;
  color: white;
  padding: 8px;
  border: 1px solid #008cba;
  border-radius: 10px;
}

/* Table */
.event-table {
  display: flex;
  justify-content: center;
  border: 3px solid #e6e2d3;
  border-radius: 8px;
  background-color: #ffffff;
}
table {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /* Add the horizontal row gap */
  border-collapse: separate;
  border-spacing: 0 12px;
}

th {
  font-size: 1.4rem;
}

th,
td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #ffffff;
}

td {
  background-color: #e6e2d3;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.action-buttons button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 45px;
  height: 30px;
}

svg {
  pointer-events: none; /* Let user can click on svg  */
  fill: currentColor;
  width: 20px;
  height: 20px;
  color: white;
}

.edit-button,
.confirm-button,
.confirm-edit-button {
  background-color: #008cba;
}

.delete-button,
.cancel-button,
.cancel-edit-button {
  background-color: #c94c4c;
}
